In [1]:
import csv

In [2]:
r=[['1','Om','Surat','7689054432'],
   ['2','Sai','Bardoli','6578459801'],
   ['3','Ram','Vyara','8907654320'],
   ['4','Kishan','Bharuch','9087653421'],
   ['5','Radha','Ahemdabad','0987654321']]

In [3]:
for i in range(5):
    sid=int(input('Enter Student Id : '))
    sname=input('Enter Student Name : ')
    city=input('Enter Student City : ')
    contact=int(input('Enter Student Contact : '))
    r.append((sid,sname,city,contact))

Enter Student Id : 6
Enter Student Name : Pooja
Enter Student City : Madhi
Enter Student Contact : 7678797574
Enter Student Id : 7
Enter Student Name : Pratik
Enter Student City : Nashik
Enter Student Contact : 8789789890
Enter Student Id : 8
Enter Student Name : Gopal
Enter Student City : Puna
Enter Student Contact : 6569678021
Enter Student Id : 9
Enter Student Name : Shiv
Enter Student City : Rajkot
Enter Student Contact : 9988770066
Enter Student Id : 10
Enter Student Name : Laxkmi
Enter Student City : Vadodara
Enter Student Contact : 7788996600

### Writing the CSV file

In [5]:
with open('student.csv','w',newline='') as csvfile:
    write_obj=csv.writer(csvfile)
    header=['S_ID','S_NAME','S_CITY','S_CONTACT_NO']
    write_obj.writerow(header)
    write_obj.writerows(r)

### Reading the CSV file

In [6]:
with open('student.csv','r') as csvfile:
    read_obj=csv.reader(csvfile)
    for row in read_obj:
        print(row)

['S_ID', 'S_NAME', 'S_CITY', 'S_CONTACT_NO']
['1', 'Om', 'Surat', '7689054432']
['2', 'Sai', 'Bardoli', '6578459801']
['3', 'Ram', 'Vyara', '8907654320']
['4', 'Kishan', 'Bharuch', '9087653421']
['5', 'Radha', 'Ahemdabad', '0987654321']
['6', 'Pooja', 'Madhi', '7678797574']
['7', 'Pratik', 'Nashik', '8789789890']
['8', 'Gopal', 'Puna', '6569678021']
['9', 'Shiv', 'Rajkot', '9988770066']
['10', 'Laxkmi', 'Vadodara', '7788996600']